# Enunciado

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

## Preparación de datos (1.0pt)

Explore el archivo `covid19_confirmados.csv` y utilice la función `pd.read_csv` para importarlo como un `DataFrame` considerando las siguientes indicaciones:

1. Utilice el nombre de país como índice.
1. Elimine las columnas `Lat` y `Long`.
1. Use TimeStamps para las columnas asociadas a fechas.
1. Reduzca la columna `Province/State`. El DataFrame resultante debe tener los totales a nivel país.

In [2]:
df = pd.read_csv("./data/covid19_confirmados.csv")
df = df.set_index("Country/Region")
df.head()

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/22,4/2/22,4/3/22,4/4/22,4/5/22,4/6/22,4/7/22,4/8/22,4/9/22,4/10/22
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,33.93911,67.709953,0,0,0,0,0,0,0,...,177782,177803,177827,177897,177932,177974,177974,177974,177974,177974
Albania,NaN,41.15330,20.168300,0,0,0,0,0,0,0,...,273759,273823,273870,273913,274000,274055,274108,274136,274191,274219
Algeria,NaN,28.03390,1.659600,0,0,0,0,0,0,0,...,265679,265684,265691,265694,265699,265705,265707,265714,265720,265724
Andorra,NaN,42.50630,1.521800,0,0,0,0,0,0,0,...,40024,40024,40024,40024,40024,40024,40328,40328,40328,40328
Angola,NaN,-11.20270,17.873900,0,0,0,0,0,0,0,...,99194,99194,99194,99194,99194,99194,99194,99194,99194,99194

In [3]:
df.shape

(284, 813)

In [4]:
df = df.drop(["Lat", "Long"], axis=1)
df.head()

,Province/State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/1/22,4/2/22,4/3/22,4/4/22,4/5/22,4/6/22,4/7/22,4/8/22,4/9/22,4/10/22
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,0,0,0,0,0,0,0,0,0,...,177782,177803,177827,177897,177932,177974,177974,177974,177974,177974
Albania,NaN,0,0,0,0,0,0,0,0,0,...,273759,273823,273870,273913,274000,274055,274108,274136,274191,274219
Algeria,NaN,0,0,0,0,0,0,0,0,0,...,265679,265684,265691,265694,265699,265705,265707,265714,265720,265724
Andorra,NaN,0,0,0,0,0,0,0,0,0,...,40024,40024,40024,40024,40024,40024,40328,40328,40328,40328
Angola,NaN,0,0,0,0,0,0,0,0,0,...,99194,99194,99194,99194,99194,99194,99194,99194,99194,99194

In [5]:
fechas = pd.to_datetime(df.columns[1:], format='%m/%d/%y')
df.columns = ["Province/State"] + list(fechas)
df.head()

,Province/State,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,2020-01-28 00:00:00,2020-01-29 00:00:00,2020-01-30 00:00:00,...,2022-04-01 00:00:00,2022-04-02 00:00:00,2022-04-03 00:00:00,2022-04-04 00:00:00,2022-04-05 00:00:00,2022-04-06 00:00:00,2022-04-07 00:00:00,2022-04-08 00:00:00,2022-04-09 00:00:00,2022-04-10 00:00:00
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,0,0,0,0,0,0,0,0,0,...,177782,177803,177827,177897,177932,177974,177974,177974,177974,177974
Albania,NaN,0,0,0,0,0,0,0,0,0,...,273759,273823,273870,273913,274000,274055,274108,274136,274191,274219
Algeria,NaN,0,0,0,0,0,0,0,0,0,...,265679,265684,265691,265694,265699,265705,265707,265714,265720,265724
Andorra,NaN,0,0,0,0,0,0,0,0,0,...,40024,40024,40024,40024,40024,40024,40328,40328,40328,40328
Angola,NaN,0,0,0,0,0,0,0,0,0,...,99194,99194,99194,99194,99194,99194,99194,99194,99194,99194

In [6]:
df = df.groupby("Country/Region")[df.columns[1:]].sum()
df.head()

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2022-04-01,2022-04-02,2022-04-03,2022-04-04,2022-04-05,2022-04-06,2022-04-07,2022-04-08,2022-04-09,2022-04-10
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,177782,177803,177827,177897,177932,177974,177974,177974,177974,177974
Albania,0,0,0,0,0,0,0,0,0,0,...,273759,273823,273870,273913,274000,274055,274108,274136,274191,274219
Algeria,0,0,0,0,0,0,0,0,0,0,...,265679,265684,265691,265694,265699,265705,265707,265714,265720,265724
Andorra,0,0,0,0,0,0,0,0,0,0,...,40024,40024,40024,40024,40024,40024,40328,40328,40328,40328
Angola,0,0,0,0,0,0,0,0,0,0,...,99194,99194,99194,99194,99194,99194,99194,99194,99194,99194

Explore el archivo `population_by_country_2020.csv` y utilice la función `pd.read_csv` de pandas para importarlo como un `DataFrame`. Utilice el nombre de país como índice principal. 

Nota: Algunos siglas o nombres podrían no calzar con el `DataFrame` anterior, explore y corrija programaticamente dichos errores.

In [7]:
df_pop = pd.read_csv("./data/poblacion_mundial2020.csv")
df_pop.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [8]:
df_pop = df_pop.set_index("Country (or dependency)")
df_pop.head()

,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
Country (or dependency),,,,,,,,,,
China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [9]:
len(df.index)

198

In [10]:
len(df_pop.index)

235

In [11]:
for country in df.index:
    if country not in df_pop.index:
        print(f"El pais {country} no está")

El pais Antarctica no está
El pais Burma no está
El pais Congo (Brazzaville) no está
El pais Congo (Kinshasa) no está
El pais Cote d'Ivoire no está
El pais Czechia no está
El pais Diamond Princess no está
El pais Korea, South no está
El pais Kosovo no está
El pais MS Zaandam no está
El pais Saint Kitts and Nevis no está
El pais Saint Vincent and the Grenadines no está
El pais Sao Tome and Principe no está
El pais Summer Olympics 2020 no está
El pais Taiwan* no está
El pais US no está
El pais West Bank and Gaza no está
El pais Winter Olympics 2022 no está

In [12]:
#Antartica no está
#Burma no está
#Congo -> hay 2
#Cote d'Ivoire -> Côte d'Ivoire
#Czechia -> Czech Republic (Czechia)
#Diamond Princess no está (barco)
#Korea, South -> South Korea
#Kosovo no está
#MS Zaandam no está (barco)
#Saint Kitts -> Saint Kitts & Nevis'
#Saint Vincent -> St. Vincent & Grenadines
#Sao Tome and Principe -> Sao Tome & Principe
#Summer Olympics 2020 no está (evento)
#Taiwan* -> Taiwan
#US -> United States
#West Bank and Gaza no está 
#Winter Olympics 2022 no está (evento)
#

In [13]:
#Para verificar paises en df2
[c for c in df_pop.index if c.startswith("G")]

['Germany',
 'Ghana',
 'Guatemala',
 'Guinea',
 'Greece',
 'Georgia',
 'Gambia',
 'Gabon',
 'Guinea-Bissau',
 'Guyana',
 'Guadeloupe',
 'Guam',
 'Grenada',
 'Greenland',
 'Gibraltar']

In [14]:
paises = []

Realice un `merge` de los `DataFrame` anteriores. El objetivo es asignar un valor de `Population` a cada elemento del primer `DataFrame`. Indique las filas donde no se puede realizar el `merge` y luego descártelas de su `DataFrame` final.

In [15]:
df_pop.head()

,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
Country (or dependency),,,,,,,,,,
China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [16]:
df.index.name = "Country"
df_pop.index.name = "Country"

In [17]:
df_merged = pd.merge(df, df_pop[["Population (2020)"]], left_index=True, right_index=True, how="inner")

In [18]:
df_merged.head()

,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,2020-01-28 00:00:00,2020-01-29 00:00:00,2020-01-30 00:00:00,2020-01-31 00:00:00,...,2022-04-02 00:00:00,2022-04-03 00:00:00,2022-04-04 00:00:00,2022-04-05 00:00:00,2022-04-06 00:00:00,2022-04-07 00:00:00,2022-04-08 00:00:00,2022-04-09 00:00:00,2022-04-10 00:00:00,Population (2020)
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,177803,177827,177897,177932,177974,177974,177974,177974,177974,39074280
Albania,0,0,0,0,0,0,0,0,0,0,...,273823,273870,273913,274000,274055,274108,274136,274191,274219,2877239
Algeria,0,0,0,0,0,0,0,0,0,0,...,265684,265691,265694,265699,265705,265707,265714,265720,265724,43984569
Andorra,0,0,0,0,0,0,0,0,0,0,...,40024,40024,40024,40024,40024,40328,40328,40328,40328,77287
Angola,0,0,0,0,0,0,0,0,0,0,...,99194,99194,99194,99194,99194,99194,99194,99194,99194,33032075

Repita el procedimiento para los archivos `covid19_recuperados.csv` y `covid19_muertes.csv`.

In [19]:
df_rec = pd.read_csv("./data/covid19_recuperados.csv")
df_rec = df_rec.set_index("Country/Region")
df_rec.head()

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/22,4/2/22,4/3/22,4/4/22,4/5/22,4/6/22,4/7/22,4/8/22,4/9/22,4/10/22
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,33.93911,67.709953,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Albania,NaN,41.15330,20.168300,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Algeria,NaN,28.03390,1.659600,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Andorra,NaN,42.50630,1.521800,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Angola,NaN,-11.20270,17.873900,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df_rec = df_rec.drop(["Lat", "Long"], axis=1)
df_rec.head()

,Province/State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/1/22,4/2/22,4/3/22,4/4/22,4/5/22,4/6/22,4/7/22,4/8/22,4/9/22,4/10/22
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Albania,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Algeria,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Andorra,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Angola,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
fechas = pd.to_datetime(df_rec.columns[1:], format='%m/%d/%y')
df_rec.columns = ["Province/State"] + list(fechas)
df_rec.head()

,Province/State,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,2020-01-28 00:00:00,2020-01-29 00:00:00,2020-01-30 00:00:00,...,2022-04-01 00:00:00,2022-04-02 00:00:00,2022-04-03 00:00:00,2022-04-04 00:00:00,2022-04-05 00:00:00,2022-04-06 00:00:00,2022-04-07 00:00:00,2022-04-08 00:00:00,2022-04-09 00:00:00,2022-04-10 00:00:00
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Albania,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Algeria,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Andorra,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Angola,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
df_rec = df_rec.groupby("Country/Region")[df_rec.columns[1:]].sum()
df_rec.head()

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2022-04-01,2022-04-02,2022-04-03,2022-04-04,2022-04-05,2022-04-06,2022-04-07,2022-04-08,2022-04-09,2022-04-10
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Albania,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Algeria,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Andorra,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Angola,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
df_rec_merged = pd.merge(df_rec, df_pop[["Population (2020)"]], left_index=True, right_index=True, how="inner")
df_rec_merged.head()

,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,2020-01-28 00:00:00,2020-01-29 00:00:00,2020-01-30 00:00:00,2020-01-31 00:00:00,...,2022-04-02 00:00:00,2022-04-03 00:00:00,2022-04-04 00:00:00,2022-04-05 00:00:00,2022-04-06 00:00:00,2022-04-07 00:00:00,2022-04-08 00:00:00,2022-04-09 00:00:00,2022-04-10 00:00:00,Population (2020)
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,39074280
Albania,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2877239
Algeria,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,43984569
Andorra,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,77287
Angola,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,33032075

In [24]:
df_m = pd.read_csv("./data/covid19_muertes.csv")
df_m = df_m.set_index("Country/Region")
df_m.head()

,Province/State,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,4/1/22,4/2/22,4/3/22,4/4/22,4/5/22,4/6/22,4/7/22,4/8/22,4/9/22,4/10/22
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,33.93911,67.709953,0,0,0,0,0,0,0,...,7670,7671,7671,7671,7671,7671,7671,7671,7671,7671
Albania,NaN,41.15330,20.168300,0,0,0,0,0,0,0,...,3492,3492,3492,3492,3492,3492,3492,3492,3492,3493
Algeria,NaN,28.03390,1.659600,0,0,0,0,0,0,0,...,6874,6874,6874,6874,6874,6874,6874,6874,6874,6874
Andorra,NaN,42.50630,1.521800,0,0,0,0,0,0,0,...,153,153,153,153,153,153,153,153,153,153
Angola,NaN,-11.20270,17.873900,0,0,0,0,0,0,0,...,1900,1900,1900,1900,1900,1900,1900,1900,1900,1900

In [25]:
df_m = df_m.drop(["Lat", "Long"], axis=1)
df_m.head()

,Province/State,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,...,4/1/22,4/2/22,4/3/22,4/4/22,4/5/22,4/6/22,4/7/22,4/8/22,4/9/22,4/10/22
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,0,0,0,0,0,0,0,0,0,...,7670,7671,7671,7671,7671,7671,7671,7671,7671,7671
Albania,NaN,0,0,0,0,0,0,0,0,0,...,3492,3492,3492,3492,3492,3492,3492,3492,3492,3493
Algeria,NaN,0,0,0,0,0,0,0,0,0,...,6874,6874,6874,6874,6874,6874,6874,6874,6874,6874
Andorra,NaN,0,0,0,0,0,0,0,0,0,...,153,153,153,153,153,153,153,153,153,153
Angola,NaN,0,0,0,0,0,0,0,0,0,...,1900,1900,1900,1900,1900,1900,1900,1900,1900,1900

In [26]:
fechas = pd.to_datetime(df_m.columns[1:], format='%m/%d/%y')
df_m.columns = [df_m.columns[0]] + list(fechas)
df_m.head()

,Province/State,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,2020-01-28 00:00:00,2020-01-29 00:00:00,2020-01-30 00:00:00,...,2022-04-01 00:00:00,2022-04-02 00:00:00,2022-04-03 00:00:00,2022-04-04 00:00:00,2022-04-05 00:00:00,2022-04-06 00:00:00,2022-04-07 00:00:00,2022-04-08 00:00:00,2022-04-09 00:00:00,2022-04-10 00:00:00
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,0,0,0,0,0,0,0,0,0,...,7670,7671,7671,7671,7671,7671,7671,7671,7671,7671
Albania,NaN,0,0,0,0,0,0,0,0,0,...,3492,3492,3492,3492,3492,3492,3492,3492,3492,3493
Algeria,NaN,0,0,0,0,0,0,0,0,0,...,6874,6874,6874,6874,6874,6874,6874,6874,6874,6874
Andorra,NaN,0,0,0,0,0,0,0,0,0,...,153,153,153,153,153,153,153,153,153,153
Angola,NaN,0,0,0,0,0,0,0,0,0,...,1900,1900,1900,1900,1900,1900,1900,1900,1900,1900

In [27]:
df_m[pd.to_datetime("2nd of April of 2020")]

Country/Region
Afghanistan              4
Albania                 16
Algeria                 86
Andorra                 15
Angola                   2
                        ..
West Bank and Gaza       1
Winter Olympics 2022     0
Yemen                    0
Zambia                   1
Zimbabwe                 1
Name: 2020-04-02 00:00:00, Length: 284, dtype: int64

In [28]:
df_m = df_m.groupby("Country/Region")[df_m.columns].sum()
df_m.head()

/tmp/ipykernel_4972/3268787436.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_m = df_m.groupby("Country/Region")[df_m.columns].sum()

,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,2020-01-31,...,2022-04-01,2022-04-02,2022-04-03,2022-04-04,2022-04-05,2022-04-06,2022-04-07,2022-04-08,2022-04-09,2022-04-10
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,7670,7671,7671,7671,7671,7671,7671,7671,7671,7671
Albania,0,0,0,0,0,0,0,0,0,0,...,3492,3492,3492,3492,3492,3492,3492,3492,3492,3493
Algeria,0,0,0,0,0,0,0,0,0,0,...,6874,6874,6874,6874,6874,6874,6874,6874,6874,6874
Andorra,0,0,0,0,0,0,0,0,0,0,...,153,153,153,153,153,153,153,153,153,153
Angola,0,0,0,0,0,0,0,0,0,0,...,1900,1900,1900,1900,1900,1900,1900,1900,1900,1900

In [29]:
df_m.columns[1]

Timestamp('2020-01-23 00:00:00')

In [30]:
df_m.index.name = "Country"
#df2.index.name = "Country"
df_m_merged = pd.merge(df, df_pop[["Population (2020)"]], left_index=True, right_index=True, how="inner")
df_m_merged.head()

,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,2020-01-28 00:00:00,2020-01-29 00:00:00,2020-01-30 00:00:00,2020-01-31 00:00:00,...,2022-04-02 00:00:00,2022-04-03 00:00:00,2022-04-04 00:00:00,2022-04-05 00:00:00,2022-04-06 00:00:00,2022-04-07 00:00:00,2022-04-08 00:00:00,2022-04-09 00:00:00,2022-04-10 00:00:00,Population (2020)
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,177803,177827,177897,177932,177974,177974,177974,177974,177974,39074280
Albania,0,0,0,0,0,0,0,0,0,0,...,273823,273870,273913,274000,274055,274108,274136,274191,274219,2877239
Algeria,0,0,0,0,0,0,0,0,0,0,...,265684,265691,265694,265699,265705,265707,265714,265720,265724,43984569
Andorra,0,0,0,0,0,0,0,0,0,0,...,40024,40024,40024,40024,40024,40328,40328,40328,40328,77287
Angola,0,0,0,0,0,0,0,0,0,0,...,99194,99194,99194,99194,99194,99194,99194,99194,99194,33032075

In [31]:
df_m_merged.head()

,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,2020-01-28 00:00:00,2020-01-29 00:00:00,2020-01-30 00:00:00,2020-01-31 00:00:00,...,2022-04-02 00:00:00,2022-04-03 00:00:00,2022-04-04 00:00:00,2022-04-05 00:00:00,2022-04-06 00:00:00,2022-04-07 00:00:00,2022-04-08 00:00:00,2022-04-09 00:00:00,2022-04-10 00:00:00,Population (2020)
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,177803,177827,177897,177932,177974,177974,177974,177974,177974,39074280
Albania,0,0,0,0,0,0,0,0,0,0,...,273823,273870,273913,274000,274055,274108,274136,274191,274219,2877239
Algeria,0,0,0,0,0,0,0,0,0,0,...,265684,265691,265694,265699,265705,265707,265714,265720,265724,43984569
Andorra,0,0,0,0,0,0,0,0,0,0,...,40024,40024,40024,40024,40024,40328,40328,40328,40328,77287
Angola,0,0,0,0,0,0,0,0,0,0,...,99194,99194,99194,99194,99194,99194,99194,99194,99194,33032075

In [32]:
df_m_merged.loc["Chile", pd.to_datetime("22th of January of 2020")]

0

## Análisis global (1.5pt)

Escriba una función que reciba una fecha y que retorne las siguientes series: 

1. Tasa de incidencia: Casos confirmados por 100.000 dividido población total.
1. Tasa de recuperación: Casos recuperados por 100.000 dividido población total.
1. Tasa de mortalidad: Casos decesos por 100.000 dividido población total.

Ahora, considerando los siguientes dos puntos temporales:

- 22 de Enero de 2021.
- 22 de Enero de 2022.

Muestre los nombres y los valores de los 3 países con:

1. La mayor y menor tasa de incidencia, respectivamente.
1. La mayor y menor tasa de recuperación, respectivamente.
1. La mayor y menor tasa de mortalidad, respectivamente.

Muestre también la posición de Chile en el ranking.

In [55]:
def tasa_inc(fecha):
    fecha = pd.to_datetime(fecha)
    columna_fecha = df_merged.loc[:, fecha]
    valor_por_pais = columna_fecha * 100_000
    valor_por_pais = valor_por_pais.div(df_merged["Population (2020)"])
    
    return valor_por_pais

def tasa_rec(fecha):
    fecha = pd.to_datetime(fecha)
    columna_fecha = df_rec_merged.loc[:, fecha]
    valor_por_pais = columna_fecha * 100_000
    valor_por_pais = valor_por_pais.div(df_rec_merged["Population (2020)"])
    
    return valor_por_pais


def tasa_mort(fecha):
    fecha = pd.to_datetime(fecha)
    columna_fecha = df_m_merged.loc[:, fecha]
    valor_por_pais = columna_fecha * 100_000
    valor_por_pais = valor_por_pais.div(df_m_merged["Population (2020)"])
    
    return valor_por_pais

In [70]:
fecha1 = "22th of January of 2021"
fecha2 = "22th of January of 2022"



tasas_inc = tasa_inc(fecha1) + tasa_inc(fecha2)
tasas_rec = tasa_rec(fecha1) + tasa_rec(fecha2)
tasas_mort = tasa_mort(fecha1) + tasa_mort(fecha2)

tasas_inc_sorted = tasas_inc.sort_values()
tasas_rec_sorted = tasas_rec.sort_values()
tasas_mort_sorted = tasas_mort.sort_values()

In [73]:
print(f"Los paises con la mayor y menor incidencia son: {tasas_inc_sorted.index[-1]} y {tasas_inc_sorted.index[0]}")
print(f"Los paises con la mayor y menor recuperacion son: {tasas_rec_sorted.index[-1]} y {tasas_rec_sorted.index[0]}")
print(f"Los paises con la mayor y menor mortalidad son: {tasas_mort_sorted.index[-1]} y {tasas_mort_sorted.index[0]}")

Los paises con la mayor y menor incidencia son: Andorra y Tonga
Los paises con la mayor y menor recuperacion son: Andorra y Kiribati
Los paises con la mayor y menor mortalidad son: Andorra y Tonga

In [75]:
posicion_inc = tasas_inc_sorted.index.get_loc("Chile")
posicion_rec = tasas_rec_sorted.index.get_loc("Chile")
posicion_mort = tasas_mort_sorted.index.get_loc("Chile")


print(f"Chile se encuentra en la posicion {posicion_inc} de tasa de incidencia a nivel mundial")
print(f"Chile se encuentra en la posicion {posicion_rec} de tasa de recuperacion a nivel mundial")
print(f"Chile se encuentra en la posicion {posicion_mort} de tasa de mortalidad a nivel mundial")

Chile se encuentra en la posicion 124 de tasa de incidencia a nivel mundial
Chile se encuentra en la posicion 156 de tasa de recuperacion a nivel mundial
Chile se encuentra en la posicion 124 de tasa de mortalidad a nivel mundial

Ahora realice las siguientes gráficas de nube de punto

- Tasa de incidencia Enero 2021 versus Tasa de incidencia Enero 2022.
- Tasa de mortalidad Enero 2021 versus Tasa de incidencia Enero 2022.

En cada una:

- Utilice color para demarcar el [continente](https://www.kaggle.com/datasets/statchaitya/country-to-continent) de cada país.
- Realice una anotación con el código del pais cercano a su punto: https://country-code.cl/es/.
- Utilice un tamaño relativamente más grande para Chile.
- Considere las buenas prácticas vistas en clases.

In [ ]:
!pip install pycountry_convert

In [ ]:
import pycountry_convert as pc

def obtener_continente(country_name):
    try:
        country_alpha2 = pc.country_name_to_country_alpha2(country_name)
        country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
        country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
        return country_continent_name
    except KeyError:
        return "unknow"

In [ ]:
continentes = [(pais, obtener_continente(pais)) for pais in df_merged.index]

In [ ]:
continentes.count("unknow")

0

En base a los rankings y gráficas de nube de punto analice y discuta sobre el caso de Chile considerando las siguientes preguntas guía:

- ¿A qué países del mundo se parece más?
- ¿A qué países de América Latina se parece más?
- ¿A qué países de la [OCDE](https://es.wikipedia.org/wiki/Organizaci%C3%B3n_para_la_Cooperaci%C3%B3n_y_el_Desarrollo_Econ%C3%B3micos) se parece más?

## Análisis comparativo (1.5pt)

Construya una interfaz gráfica usando `ipywidgets` y `matplotlib` que permita realizar comparaciones entre las series de tiempo de COVID-19 de dos países seleccionados arbitrariamente. A modo de simplificación considere sólo los países de la [OCDE](https://es.wikipedia.org/wiki/Organizaci%C3%B3n_para_la_Cooperaci%C3%B3n_y_el_Desarrollo_Econ%C3%B3micos). 

Requerimientos:

1. La interfaz debe incluir controles para escoger dos países a partir de una lista.
1. La interfaz debe incluir tres [tabs](https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html#Tabs), el primero debe mostrar las series de tiempo de ambos países de los casos confirmados, el segundo la de recuperados y el tercero la de los decesos, respectivamente. Use una leyenda para indicar el nombre de los países.
1. La interfaz debe tener un control que permita escoger entre casos acumulados y casos nuevos. Hint: Para los casos nuevos pueden revisar la función [`diff`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.diff.html).
1. La interfaz debe tener un control que permita escoger entre valores absolutos y valores relativos (tasas por 100.000 habitantes).
1. La interfaz debe tener un control que permita escoger entre valores diarios y valores semanales. Para esto último se recomienda usar `groupby` con una [frecuencia lunes a lunes](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#anchored-offsets).

## Dashboard interactivo (1.0pt)

Implemente un *dashboard web* interactivo a partir de la interfaz desarrollada en el punto anterior utilizando la librería [voila](https://github.com/voila-dashboards/voila). Sirva su interfaz en la nube, para esto puede considerar los servicios gratuitos [binder](https://mybinder.org/) o [heroku](https://www.heroku.com/free). Revise la documentación de voila [con respecto a *deployment* en la nube](https://voila.readthedocs.io/en/stable/deploy.html) y este repositorio con [un ejemplo en base a heroku](https://github.com/voila-dashboards/voila-heroku). 

Escriba el link de su dashboard web a continuación:

## Discusión final (1.0pt)

En base a su interfaz:   

1. Describa en detalle la situación de Chile con respecto a la evolución temporal de las series de tiempo. Destaque patrones y comportamientos que considere relevantes. Compare lo que observa en las distintas series de tiempo. 
1. Considerando la evolución a nivel de semana, conteste ¿En qué fechas ocurre un aumento o disminución notoria de los casos? ¿En qué fechas hay máximos y mínimos?
1. Considerando métricas que sean relativas compare el caso de Chile contra cinco países de la OCDE seleccionados por ustedes. Destaque semejanzas y diferencias considerando las cantidades y los posibles desfases temporales existentes.